.text-center {
  text-align: center!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mt-5, .my-5 {
  margin-top: 3rem!important;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}

.table td, .table th {
  padding: .5rem 0 !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.text-center {
  text-align: center!important;
}
table tr th {
  color: #688a7e;
}



.brand{
  text-align: center;
  color: #688a7e;

}
.company{
  margin-top: 53px;
  margin-left: 364px;
  width: 100%;
  color: #688a7e;
}
.con{
  margin-left: 225px;
  margin-top: -33px;}

  .pro-fill1 {
    margin-left: 237px;
    margin-top: -27px;
}
.pro-fill {
  color: #688a7e;
}

.slno{
  width:88%;
  color: #031229;
  background-color: rgb(202, 166, 212);
  font-size: 400px;
  margin-left: -108px;
  margin-top: -37px;
}

.hour {
  margin-left: 61px;
  width: 92%;
}

.pdf-page1 {
  position: relative;
  margin: 0 auto;
  padding: .4in .3in;
  color: #333;
  background-color: #fff;
  /* box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%); */
  box-sizing: border-box;
  width: 100%;
  font-family: "DejaVu Sans", "Arial", sans-serif;
  margin-top: 200px;
}

.totalhours {
  color: #688a7e;
  width: 90%;
  margin-left: 70px;
}

.roll {
  text-align: center;
  margin-left: 563px;
  margin-top: -17px;
  color:#688a7e;
}

.foot{
  margin-top:100px;
}

#hour1{
  color: rgb(6, 7, 7);
  background-color:#C0C2C2;
}
.ten1{
  color: rgb(6, 7, 7);
  background-color:#C48114;
}